<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>阿薩姆奶茶</string>
		<key>price</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>QQ奶茶</string>
		<key>price</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>仙草凍奶茶</string>
		<key>price</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>奶茶三兄弟</string>
		<key>price</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>西米露奶茶</string>
		<key>price</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>珍珠奶茶</string>
		<key>price</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>紅豆奶茶</string>
		<key>price</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>椰果奶茶</string>
		<key>price</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>鮮芋奶茶</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>雙拼奶茶</string>
		<key>price</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>茉莉綠茶</string>
		<key>price</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>幕斯奶蓋紅茶</string>
		<key>price</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>綠茶益菌多</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>慕斯奶蓋綠茶</string>
		<key>price</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>鮮檸檬紅茶</string>
		<key>price</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>鮮檸檬綠茶</string>
		<key>price</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>CoCo巧克力</string>
		<key>price</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>布丁巧克力</string>
		<key>price</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>西米露巧克力</string>
		<key>price</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>珍珠巧克力</string>
		<key>price</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>紅豆巧克力</string>
		<key>price</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>雙拼巧克力</string>
		<key>price</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>芒果益菌多</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>芒果綠茶</string>
		<key>price</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>芒果歐雷</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>金桔檸檬汁</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>鮮百香雙響炮</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>檸檬椰果益菌多</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>檸檬蜜西米露</string>
		<key>price</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>鮮芋牛奶西米露</string>
		<key>price</key>
		<integer>65</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>鮮芋清稞牛奶</string>
		<key>price</key>
		<integer>65</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>CoCo咖啡</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>卡布奇諾</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>奶蓋咖啡</string>
		<key>price</key>
		<integer>65</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>摩卡咖啡</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>法式瑪奇朵咖啡</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>珍珠拿鐵</string>
		<key>price</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>美式咖啡</string>
		<key>price</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>香草拿鐵</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>拿鐵</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>焦糖瑪奇朵</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>意式摩卡咖啡</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>摩卡咖啡</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
</array>
</plist>
